<!-- <div class="sidebar">
    <h2>Navigation</h2>
    {%- if site.posts.size > 0 -%}
        {% for post in site.posts %} -->
            <!-- Show title of the posts and link to it -->
            <!-- <a href="{{ post.url | relative_url }}">{{ post.title }}</a> -->
            <!-- <hr> -->
            <!-- {% endfor %}
        {%- endif -%}
</div> -->
  

<div class="sidebar">
    <div id="table-of-contents">
        {% include toc.html html=content class="toc" item_class="toc-entry" %}
    </div>
</div>