.github_button {
    border-radius: 25px;
    color: #4078c0;
    padding: 15px 25px;
    text-decoration: none;
}
  
.github_button:hover {
    background-color: #4078c0;
    color: white;
    text-decoration: none;
}