/* The sidebar menu */
.sidebar {
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 10%;
  left: 10px;
  background: #fff;
  overflow-x: hidden;
  padding: 8px 0;
}

// Change the toc entires
.toc-entry {
  padding: 6px 8px 6px 16px;
  list-style: none;
}

.toc-entry a {
  font-size: 25px;
  color: #818181;
  text-decoration: none;
}

.toc-entry a:hover {
  color: #000;
}


  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }