---
layout: default
---


<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    {% for post in site.posts %}
      <font size="+3.5">{{ post.title }}</font>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      {{ post.content }}
    {% endfor %}
  {%- endif -%}
</div>

<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>